.plans{
    .memberheader{
        height: 450px;
        overflow: hidden;
        width: 100%;
        position: relative;
        display: grid;
        place-items: center;
        background-color: black;
        img{
            position: absolute;
            width: 100%;
            opacity: 0.5;
        }
        .contents{
            position: relative;
            padding: 0px 300px;
            text-align: center;
            line-height: 2;
            word-spacing: 2px;
            h1{
                letter-spacing: 2px;
                margin-bottom: 20px;
            }
            p{
                color: rgb(145, 143, 143);
            }
        }
    }
    .plan{
        display: flex;
        padding: 100px 160px;
        justify-content: space-between;
        text-align: center;
        .block{
            // border: 2px solid red;
            margin-right: 50px;
            padding: 50px 30px;
            background-color: rgb(18, 18, 54);
            border-radius: 0px 50px 0px 50px;
            h1{
                font-size: 24px;
                margin-bottom: 20px;
            }
            p{
                font-size: 14px;
                color: rgb(145, 143, 143);
            }
            h2{
                color: rgb(53, 177, 255);
                margin: 20px 0px;
                font-size: 40px;
                span{
                    font-size: 30px;
                    color: rgb(145, 143, 143);

                }
            }
            .features{
                h3{
                    letter-spacing: 2px;
                    font-weight: bold;
                    font-size: 20px;
                }
                ul{
                    li{
                        margin-top: 30px;
                        list-style: none;
                    }
                    .a{
                        color: rgb(145, 143, 143);
                    }
                }
            }
            button{
                margin-top: 20px;
                padding: 10px 30px;
                background-color: rgb(40, 137, 241);
                color: white;
                border: none;
                border-radius: 12px;
                font-size: 18px;
                cursor: pointer;
                position: relative;
                &:hover{
                    color: black;
                    background-color: orange;
                }
            }
        }
    }
    @media screen and (max-width:1240px) {
        .memberheader{
            img{
                height: 100%;
            }
            .contents{
                padding: 0px 20px;
            }
        }
        .plan{
            flex-direction: column;
            padding: 100px 50px;
            .block{
                width: 100%;
                margin-bottom: 50px;
            }
        }
    }

}