.trainers{
    .headimg{
        height: 450px;
        overflow: hidden;
        width: 100%;
        position: relative;
        display: grid;
        place-items: center;
        background-color: black;
        img{
            position: absolute;
            width: 100%;
            opacity: 0.5;
        }
        .content{
            position: relative;
            padding: 0px 300px;
            text-align: center;
            line-height: 2;
            word-spacing: 2px;
            h1{
                letter-spacing: 2px;
                margin-bottom: 20px;
            }
            p{
                color: rgb(145, 143, 143);
            }
        }
    }
    .trainerimgs{
        padding: 100px 160px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        .trainer{
            background-color: rgb(18, 18, 54);
            padding: 30px;
            border-radius: 0px 50px 0px 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
            transition: all 0.5s ease-in-out;
            img{
                width: 300px;
                border-radius: 0px 50px 0px 50px;
                margin-bottom: 20px;
            }
            h1{
                font-size: 18px;
                margin: 10px 0px;
            }
            span{
                margin-bottom: 30px;
                color: rgb(145, 143, 143);

            }
            ul{
                display: flex;
                li{
                    list-style: none;
                    .icons{
                        font-size: 35px;
                        padding: 8px;
                        color: white;
                        background-color: rgb(53, 177, 255);
                        border-radius: 8px;
                        margin: 0px 10px;
                        &:hover{
                            border: 1px solid rgb(92, 92, 92);
                            color: black;
                            background-color: orange;
                        }
                    }
                }
            }
            &:hover{
                background-color: rgb(10, 10, 37);
            }
        }
    }
    @media screen and (max-width:1240px) {
        .headimg{
            img{
                height: 100%;
            }
            .content{
                padding: 0px;
            }

        }
        .trainerimgs{
            padding: 100px 50px;
            .trainer{
                padding: 30px 20px;
                img{
                    width: 200px;
                }

            }
        }
    }

}